<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
<title>Insert title here</title>
<!-- css -->
<Link rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- js -->
<script src="/js/bootstrap.min.css"></script>
</head>
<body>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
  <form th:action="@{/login}" th:object="${user}" method="post">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">	ログインとパスワードを入力してください。</p>

              <div class="form-outline form-white mb-4">
              <label for="id_email" class="form-label">User Email</label> <input
							type="email" class="form-control" id="id_email"
							th:field="*{email}" required>
              </div>

              <div class="form-outline form-white mb-4">
             <label for="id_password" class="form-label">Password</label> <input
							type="password" class="form-control" id="id_password"
							th:field="*{password}" required>
              </div>
              
              <button class="btn btn-outline-light btn-lg px-5" type="submit">ログイン</button>
              <div class="col-md-3"><a th:href="@{/register}">Sign In</a></div>
              <div class="col-md-4"><label th:if="!${loginError}" style="color:red">Email and Password wrong</label></div>
              
            </div>

          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</section>
</body>
</html>