<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>User List</title>
<!-- css -->
<Link rel="stylesheet" href="/css/bootstrap.min.css" />
<Link rel="stylesheet" href="/css/main.css" />
<!-- js -->
<script src="/js/bootstrap.min.css"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>User List</h1>
			</div>
			
			<div>&nbsp;</div>
			<div class="col-md-2"></div>
			<div class="col-md-8">
					<form th:action="@{/search}">
							Filter:
							<input type="text" name="keyword" th:value="${keyword}"required />
							&nbsp;
							<input type="submit" value="Search" />
					</form>
				
			
			</div>
			<div class="col-md-2"></div>
			
			<div class="col-md-2"></div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
				<br>  
					<table class="table">
						<thead>
							<tr>
								<th scope="col">User Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone Number</th>
								<th scope="col">Edit</th>
								<th scope="col">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user:${users}">
								<td th:text="${user.name}"></td>
								<td th:text="${user.email}"></td>
								<td th:text="${user.phno}"></td>
								<td><a th:href="@{/edit/{id} (id=${user.id})}">Edit</a></td>
								<td><a th:href="@{/delete/{id} (id=${user.id})}">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-2"></div>

			</div>
		</div>
	</div>
</body>
</html>